In [47]:
import pandas as pd
df = pd.read_csv('ecommerce_furniture_dataset_2024.csv')
print(df.head(30))

                                         productTitle originalPrice    price  \
0   Dresser For Bedroom With 9 Fabric Drawers Ward...           NaN   $46.79
1   Outdoor Conversation Set 4 Pieces Patio Furnit...           NaN  $169.72
2   Desser For Bedroom With 7 Fabric Drawers Organ...         $78.4   $39.46
3   Modern Accent Boucle Chair,Upholstered Tufted ...           NaN  $111.99
4   Small Unit Simple Computer Desk Household Wood...        $48.82   $21.37
5   3 Pieces Patio Furniture Set, Outdoor Swivel G...     $1,294.04   $123.4
6   5-Piece Patio Furniture Set Outdoor Couch with...           NaN  $198.31
7   Living Room Furniture, Modern 3-Piece Includin...     $1,474.17  $734.58
8   TV Stand Dresser For Bedroom With 5 Fabric Dra...           NaN   $43.96
9   Outdoor Furniture Set 3 Pieces Wicker Patio Fu...           NaN   $233.3
10  4 Pieces Patio Furniture Set, Outdoor Rattan W...           NaN  $244.17
11  Jela kids couch 14PCs luxury, floor sofa modul...           NaN  $238.18
12  3/4/5 Piece Boho Outdoor Patio Furniture Sets ...           NaN   $495.8
13  3 PCS Patio Conversation Set, Solid Eucalyptus...           NaN  $117.66
14  Modern luxury lounge chair home furniture hote...           NaN  $978.88
15  Furniture Contemporary Reversible Sectional Sl...           NaN  $440.94
16  Patio Furniture Sets - 3 Pieces Rattan Sofa Se...           NaN   $183.3
17  Patio Dining Set Outdoor Furniture with 6 Stac...           NaN   $60.28
18  7 Pieces Patio Furniture Set - Outdoor Section...           NaN   $376.5
19  47" Small Modern Loveseat Couch Sofa, Fabric U...           NaN  $204.93
20  7-piece patio furniture set modular wicker out...       $671.47  $331.24
21  Patio Furniture Sets All Weather Outdoor Secti...           NaN  $276.65
22  Office Furniture Computer Stand 42*26cm Adjust...        $56.58   $26.03
23  4-Piece Outdoor Patio Furniture Set,Wicker Rat...           NaN  $321.05
24  5 Pieces Patio Furniture Set Outdoor Sectional...           NaN  $219.63
25  6Pieces Wicker Patio Furniture Sets Outdoor Co...           NaN  $574.86
26  Aluminum Patio Furniture Set, Modern Patio Con...           NaN  $497.44
27  75" X 32" Expandable Dining Table - a Oval Woo...           NaN  $382.06
28  Modern Small Bedside Table with Drawer Lock No...        $98.79   $49.39
29  5 Piece Patio Furniture Set, Outdoor Dining Ta...           NaN  $225.91

    sold        tagText
0    600  Free shipping
1      0  Free shipping
2      7  Free shipping
3      0  Free shipping
4      1  Free shipping
5     53  Free shipping
6      1  Free shipping
7      5  Free shipping
8      3            NaN
9      0  Free shipping
10     1  Free shipping
11     0  Free shipping
12     0  Free shipping
13     0  Free shipping
14     0  Free shipping
15     0  Free shipping
16     0  Free shipping
17     4  Free shipping
18     0  Free shipping
19     0  Free shipping
20    39  Free shipping
21     0  Free shipping
22  1000  Free shipping
23     1  Free shipping
24     0  Free shipping
25     0  Free shipping
26     1  Free shipping
27     0  Free shipping
28     1  Free shipping
29     1  Free shipping

# Data Preprocessing

In [86]:
df.duplicated().sum()

np.int64(94)

# to fill null values

In [92]:
df1=df.fillna(0)
df1

,productTitle,originalPrice,price,sold,tagText
0,Dresser For Bedroom With 9 Fabric Drawers Ward...,0,$46.79,600,Free shipping
1,Outdoor Conversation Set 4 Pieces Patio Furnit...,0,$169.72,0,Free shipping
2,Desser For Bedroom With 7 Fabric Drawers Organ...,$78.4,$39.46,7,Free shipping
3,"Modern Accent Boucle Chair,Upholstered Tufted ...",0,$111.99,0,Free shipping
4,Small Unit Simple Computer Desk Household Wood...,$48.82,$21.37,1,Free shipping
...,...,...,...,...,...
1995,Modern TV Stand Entertainment Center with Two ...,0,$72.49,8,Free shipping
1996,"Large Wardrobe Armoire Closet with 3 Doors, Fr...",0,$276.65,2,Free shipping
1997,"Velvet Futon Sofa Bed, 73-inch Sleeper Couch w...",0,$196.44,10,Free shipping
1998,Furniture Acrylic Coffee Table Transparent Liv...,0,$228.18,0,Free shipping
1999,Bed Frane Bamboo and Metal Platform Bed Frame ...,0,$99.48,0,Free shipping

# Droping duplicates values

In [88]:
df1=df.drop_duplicates()
df1.head()

,productTitle,originalPrice,price,sold,tagText
0,Dresser For Bedroom With 9 Fabric Drawers Ward...,0,$46.79,600,Free shipping
1,Outdoor Conversation Set 4 Pieces Patio Furnit...,0,$169.72,0,Free shipping
2,Desser For Bedroom With 7 Fabric Drawers Organ...,$78.4,$39.46,7,Free shipping
3,"Modern Accent Boucle Chair,Upholstered Tufted ...",0,$111.99,0,Free shipping
4,Small Unit Simple Computer Desk Household Wood...,$48.82,$21.37,1,Free shipping

In [89]:
df1.describe()

               sold
count   1906.000000
mean      24.449633
std      260.247848
min        0.000000
25%        1.000000
50%        3.000000
75%        9.750000
max    10000.000000

In [90]:
df1.shape

(1906, 5)